:root {
  --primary-color: #1370fe;
  --primary-color-rgb: 19, 112, 254;
  --primary-color-hover: #1161d8;
  --secondary-color: #064fbd;
  --secondary-color-hover: #0f57c4;
  --text-color: rgb(39, 39, 39);
  --text-color-hover: rgb(0, 0, 0);
  --text-dark: rgb(241, 241, 241);
  --text-dark-hover: rgb(255, 255, 255);
  --background-color: rgb(240, 240, 240);
  --background-header: rgba(221, 221, 221, 0.774);
}
