@import "./colors.css";

footer {
  background-color: var(--background-header);
  padding: 2rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10rem;
  border-radius: 0.5rem;
}

footer .company-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

footer .company-info .company-name {
  font-size: 1.5rem;
  font-weight: 700;
}

footer .company-info .company-description {
  font-size: 1rem;
  color: var(--text-color);
  width: 30rem;
}

footer .footer-logo {
  width: 3rem;
  height: 3rem;
  background-color: var(--primary-color);
  border-radius: 50%;
}

footer .social-links {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

footer .social-links .social-link {
  display: flex;
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 1rem;
  background-color: rgb(49, 49, 49);
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

footer .social-links .instagram svg {
  width: 1.6rem;
  height: 1.6rem;
}

footer .social-links .twitter svg {
  width: 1.2rem;
  height: 1.2rem;
}

footer .social-links .linkedin svg {
  width: 1.4rem;
  height: 1.4rem;
}

footer .social-links .social-link:hover {
  background-color: var(--primary-color);
  scale: 1.1;
}


footer .fast-links {
  display: flex;
  flex-direction: column;
}

footer .fast-links ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .6rem;
  margin-top: .6rem;
}

footer .fast-links ul a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.1rem;
  transition: all 0.5s ease-in-out;
}

footer .fast-links ul a:hover {
  color: var(--primary-color);
  scale: 1.06;
  font-weight: 700;
}

footer .contact {
  display: flex;
  flex-direction: column;
  gap: .6rem;
  margin-top: .6rem;
}
