@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "./colors.css";

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  background-color: var(--background-color);
  scroll-behavior: smooth;
}

main {
  display: flex;
  flex-direction: column;
  width: 110rem;
  margin: 10rem auto;
}

.icon {
  padding: 10px;
  font-size: 1.5rem;
  transition: all 0.3s ease-in-out;
  width: 1.5rem;
}

.section-title {
  display: flex;
  font-size: 3rem;
}

.section-title-line {
  width: 10rem;
  height: 0.5rem;
  background-color: var(--primary-color);
  border-radius: 20px;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

.section-description {
  width: 70rem;
  font-size: 1.2rem;
}

/* Responsive */
@media (max-width: 900px) {
  main {
  display: flex;
  flex-direction: column;
  width: 80rem;
  margin: 10rem auto;
}
}